{%load static%}

<!-- Doctype explains the file type of the document-->
<!DOCTYPE html>
<!-- head contols the title of the page, websearch optimization and meta data-->
<head>
    <!-- Tells the website is using unicode-->
    <meta charset="UTF-8">

    <!-- Sets screen size to device display size-->
    <meta name = "viewport" content="width=device-width, initial-scale-1.0">

    <!--Web search info-->
    <meta name="description" content="Test project for html">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Roni Mujku">

    <title>Bean and Brew\Booking</title>
    <!-- Link css file to html-->
    <link rel="stylesheet" href="{%static 'assets/styles.css'%}">
    <link rel="shortcut icon" href="#" />
    
</head>
<body>
    <h1 class = "bean">
        Bean & Brew
    </h1>
    <h2 class="bean">Cafe</h2>
    <div class="topnav">
        <a href="{% url 'core:index' %}">Home</a>
        <a href="{% url 'core:Menu'%}">Menu</a>
        <a class="active" href="{% url 'core:Booking'%}">Bookings</a>
        <a href="{% url 'core:Social Media'%}">Social Media</a>
        <a href="{% url 'core:About'%}">About</a>
    </div>

    <div class = "buttonalign">
        <button class="button" data-target = "#modal1">Book a Table</button>
        <button class="button" data-target = "#modal2">Order an Item</button>
        <button class="button" data-target = "#modal3">Book a Class</button>
    </div>

    <div class = "modal" id = "modal1">
        <div class = "header">
            <button class="modal-btn" data-target = "#modal1">&times;</button>
            <h3>You are booking a table at</h3><select name="Location" id="Location">
                <option value="" selected="selected">Harrogate</option>
                <option value="" selected="selected">Leeds</option>
                <option value="" selected="selected">Knaresborough Castle</option>
                </select><br>
        </div>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date"><br>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" value="08:30:00" step="600"><br>
        <label for="Peoples">People</label>
        <select name="Peoples" id="Peoples">
            <option value="" selected="selected">1 Person</option>
            <option value="" selected="selected">2 People</option>
            <option value="" selected="selected">3 People</option>
            <option value="" selected="selected">4 People</option>
            <option value="" selected="selected">5 People</option>
        </select><br><br>
        <label for="Full Name">Full Name:</label>
        <input id = "Full Name" name ="Full Name"><br><br>
        <label for="Email">Email:</label>
        <input type = "email" id = "Email" name ="Email" autocomplete="off"><br><br>
        <label for="Phone">Phone Number:</label>
        <input type = "number" id = "Phone" name ="Phone" autocomplete="off">
        <input type="submit" value="Submit" class="submit"></input>
    </div>

    <div class = "modal" id = "modal2" style="width: 1050px">
        <div class = "header">
            <h1>Menu</h1>
        </div>
        <h2>Drinks</h2>
        <div class="menurow">
            <ul>
                <li>
                  <input type="checkbox" id="myCheckbox1" />
                  <label for="myCheckbox1"><img src="{% static '../static/assets/latte.png' %}"/>Latte</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox2" />
                    <label for="myCheckbox2"><img src="{% static '../static/assets/cappuccinno.png' %}"/>Cappuccinno</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox3" />
                    <label for="myCheckbox3"><img src="{% static '../static/assets/flat white.png' %}"/>Flat White</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox4" />
                    <label for="myCheckbox4"><img src="{% static '../static/assets/americano.png' %}"/>Americano</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox5" />
                    <label for="myCheckbox5"><img src="{% static '../static/assets/Mocha.png' %}"/>Mocha</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox6" />
                    <label for="myCheckbox6"><img src="{% static '../static/assets/flat black.png' %}"/>Flat Black</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox7" />
                    <label for="myCheckbox7"><img src="{% static '../static/assets/cortado.png' %}"/>Cortado</label>
                </li>
            </ul>
        </div>
        <h2>Food</h2>
        <div class="menurow">
            <ul>
                <li>
                    <input type="checkbox" id="myCheckbox8" />
                    <label for="myCheckbox8"><img class="labelimg" src="{% static '../static/assets/Croissant.png' %}"/>Butter Croissant</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox9" />
                    <label for="myCheckbox9"><img class="labelimg" src="{% static '../static/assets/choc.png' %}"/>Chocalate Croissant</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox10" />
                    <label for="myCheckbox10"><img class="labelimg" src="{% static '../static/assets/sandwich.png' %}"/>Ham Sandwich</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox11" />
                    <label for="myCheckbox11"><img class="labelimg" src="{% static '../static/assets/wrap.png' %}"/>Chicken wrap</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox12" />
                    <label for="myCheckbox12"><img src="{% static '../static/assets/sausage.png' %}"/>Sausage Bap</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox13" />
                    <label for="myCheckbox13"><img class="labelimg" src="{% static '../static/assets/carrot-cake.png' %}"/>Carrot Cake</label>
                </li>
                <li>
                    <input type="checkbox" id="myCheckbox14" />
                    <label for="myCheckbox14"><img class="labelimg" src="{% static '../static/assets/millionaire.png' %}"/>Millionaire Shortbread</label>
                </li>
            </ul>
        </div>
        <div style="text-align: end;">
            <button class="button-sub">Choose Item</button>
        </div>
    </div>

    <div class = "modal" id = "modal3">
        <div class = "header">
            <button class="modal-btn" data-target = "#modal3">&times;</button>
            <h3>You are booking a Cooking Class</h3>
        </div>
        <label for="date2">Date:</label>
        <input type="date" id="date2" name="date2"><br>
        <label for="time2">Time:</label>
        <input type="time" id="time2" name="time2" value="08:30:00" step="600"><br>
        <label for="Full Name2">Full Name:</label>
        <input id = "Full Name2" name ="Full Name2"><br><br>
        <label for="Email2">Email:</label>
        <input type = "email" id = "Email2" name ="Email2" autocomplete="off"><br><br>
        <label for="Phone2">Phone Number:</label>
        <input type = "number" id = "Phone2" name ="Phone2">
        <input type="submit" value="Submit" class="submit"></input>
    </div>

    <div id = "overlay"></div>
    <script src="{% static '../static/assets/script.js' %}"></script>

    <footer class="footer">
        <div class="footerbox">
            <p>
                Bean&Brew.com
                <br><br>
                The number one family owned cafe
            </p>
        </div>
    </footer>
</body>